# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\methodGaus\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
